@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

html,
body {
	font-family: sans-serif;
}

.title {
	text-align: center;
}

@media only screen and (max-width: 1023px) {
	.container {
		margin-inline: 1rem;
	}
}

nav {
	margin: 1rem 0;
}

.textarea {
	min-width: 100%;
	min-height: 10rem;
	resize: vertical;
	padding: 0 5px;
	margin-block-end: .5rem;
}

hr {
	background-color: lightgrey;
	border-radius: 5px;
}

.bases>div.clicked {
	background-color: lightgreen;
}

.bases>div {
	padding: 1rem;
	margin-block: 0.3rem;
	border-radius: 5px;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	background-color: lightgray;
}

.bases>span {
	display: none;
}

/* #output:has(#bases:empty) button {
	visibility: hidden;
}
 */

label {
	display: block;
	margin-bottom: 3px;
	font-weight: bold;
}

#unicodeWarn {
	display: none;
	text-align: center;
	margin-top: 5px;
	background-color: coral;
	color: white;
	border-radius: 3px;
}

.input {
	margin-block: 1rem;
}

.arrow {
	font-weight: bold;
	font-size: 3rem;
	text-align: center;
	max-width: 10%;
}

.arrow>.right {
	position: sticky;
	top: calc(50dvh - 2rem);
	margin-block-start: 5rem;
}

.arrow>.down {
	display: none;
}

@media screen and (max-width:768px) {
	.arrow>.right {
		display: none;
	}

	.arrow>.down {
		display: unset;
	}

	.arrow {
		display: flex;
		place-items: center;
		justify-content: center;
		min-width: 100%;
	}
}

.logItem {
	margin-block: .5rem;
}

.buttons,
#actionlog {
	position: sticky;
	padding-block-start: 1rem;
	top: 0;
	z-index: 2;
	background-color: white;
}

#actionlog {
	z-index: 3;
	top: .7rem;
}